[% SET 
  sections = [
    'about',
    'download',
    'documentation',
    'demos',
    'support',
    'contact',
  ]
  bootstrap_path = "/assets/local/misc/static/bootstrap-examples"
  bootstrap_css = "$bootstrap_path/bootstrap/css/bootstrap.css"
  custom_css = "$bootstrap_path/justified-nav/justified-nav.css"
  home_logo = '/assets/rapidapp/misc/static/images/rapidapp_logo_small.png'
-%]
[% DEFAULT 
  title = 'www.rapidapp.info'
-%]
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link href="[% bootstrap_css %]" rel="stylesheet">
    <link href="[% custom_css %]" rel="stylesheet">

    <title>[% title %]</title>

    <!-- enable root hashnav redirects -->
    <script 
      type="text/javascript" 
      src="/assets/rapidapp/misc/current/js/external_hashpath.js"
    ></script>
    
  </head>

  <body>
    <div class="container">
      <div class="masthead">
        <div style="float:right;">
          [% INCLUDE 
            rapidapp/public/log_in_out_control.tt 
            convert_hashpath=1 
          %]
        </div>
        <div>
          <a href="/">
            <img src="[% home_logo %]" style="padding-bottom:10px;">
          </a>
        </div>

        <ul class="nav navbar-nav nav-justified">
        [%- FOREACH section IN sections %]
          [%- IF section == active_section %]
           <li class="active">
          [%- ELSE %]
           <li>
          [%- END %]
             <a href="[% section %]">[% section.ucfirst %]</a>
           </li>
        [%- END %]
        </ul>
      </div>


<!-- BEGIN SECTION CONTENT -->
[% content %]
<!-- END SECTION CONTENT -->


      <hr>
      
      [% INCLUDE public/under_construction.tt %]

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; 2013 <a target="_blank" href="http://www.intellitree.com">
          IntelliTree Solutions
        </a></p>
      </div>
    </div> <!-- /container -->
  </body>
</html>