[% WRAPPER public/wrapper.html 
  active_section = 'Home'
  title = 'RapidApp'
%]

<!-- Jumbotron -->
<div class="jumbotron">

<img 
  src="/assets/rapidapp/misc/static/images/rapidapp_catalyst_logo.png"
  style="padding:25px;"
>

<p class="lead">
RapidApp is an open-source application framework that is currently under development for quickly building dynamic Web 2.0/AJAX interfaces for various data models.
</p>

<p>
<a class="btn btn-large btn-success" href="Download.html">Download Now</a>
</p>


</div>

<div class="body-content">
  [% INCLUDE public/row_cols.html %]
</div><!-- /.body-content -->

[% END %]