<h2>Get Support</h2>

<p>
RapidApp is still a new project, so if you have questions or need help visit the RapidApp IRC channel:
</p>

<div style="padding-left:30px;">
<h4>irc.perl.org</h4>
<h4>#rapidapp</h4>
</div>

<p><a class="btn btn-default" href="support">More info »</a></p>
